<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
</head>
<body>
<h1>Some Website</h1>
<p>{{> header}}</p>
<p>Spicy jalapeno bacon ipsum dolor amet porchetta alcatra chuck brisket, turkey shankle leberkas pork chop. Pork chop ground round strip steak biltong fatback tri-tip shoulder pork loin kevin ball tip pork belly pancetta filet mignon.</p>
<p>{{> footer}}</p>
</body>
</html>
