<!DOCTYPE html>
<html>
<head>
	<title>some Website</title>
</head>
<body>
  <h1>We will be right back!</h1>
  <p>This page is under maintaince. We will be back soon..</p>
<!-- <footer>copyright {{date}}</footer>-->
</body>
</html>
