<!DOCTYPE html>
<html>
<head>
	<title>{{projectpageTitle}}</title>
</head>
<body>
<h1>Project page</h1>
<p>{{> header}}</p>
<p>This page is for Projects. Lots of Projects coming up. Oh yeah!!</p>
<p>{{> footer}}</p>
</body>
</html>
