<!DOCTYPE html>
<html>
<head>
	<title>some Website</title>
</head>
<body>
  {{> header}}
<h1>{{pageTitle}}</h1>
<p>{{screamIt welcomeMess}}</p>
{{> footer}}
<!-- <footer>copyright {{date}}</footer>
</body> -->
</html>
